{% extends 'title.html' %}
{% block title %} 
<head>
	<script src='bootstrap.min.js'></script>
<link href = "bootstrap.min.css" rel='stylesheet'>
<link href='/ratchet-2.0.2/dist/css/ratchet.css', rel='stylesheet'>





<link href = 'style.css' rel='stylesheet'?
link='{{ url_for('static', filename='bootstrap.min.css') }}' rel='stylesheet'>
</head>
<style>

body {margin-top:100px !important;


padding:300px,300px;




</style>




  




  <!-- Prerequisite=This example use ionicons(http://ionicons.com) to display icons. -->

<h1>Login<h1>
<form action='' method='POST'>

{{csrf_token}}
{{form.username}}
{{form.password}}
<button class="btn btn-primary" value='submit'>Button</button>
</form>

<div class="alert alert-success" role="alert">
  <strong>Tip!</strong> <h2>You can use the quick login system if you don't feel like creating a password.The traditional log in just adds an extra layer of security. :)</h2>
</div>








{% endblock %}






