{% extends 'title.html' %}
{% block title %} 
<head>
<link href = "bootstrap.min.css" rel='stylesheet'>
<link href='/ratchet-2.0.2/dist/css/ratchet.css', rel='stylesheet'>





<link href = 'style.css' rel='stylesheet'?
link='{{ url_for('static', filename='bootstrap.min.css') }}' rel='stylesheet'>
</head>
<style>

body {margin-top:100px !important;


padding:300px,300px;




</style>




  




  <!-- Prerequisite=This example use ionicons(http://ionicons.com) to display icons. -->

<h1>Login<h1>
<form action='' method='POST'>

{{csrf_token}}
{{form.username}}
{{form.password}}
<button class="btn btn-primary" value='submit'>Button</button>
</form>


<h5>Creating a password is optional. You can use quick login if you aren't concerned about having the password protection.<h5>





{% endblock %}






