

{% block title %}

 
<link href="/OnsenUI-dist-2.10.5/css/onsenui.css", rel='stylesheet'>
<link href='/OnsenUI-dist-2.10.5/css/onsen-css-components.min.css', rel='stylesheet'>
<script src='/OnsenUI-dist-2.10.5/js/onsenui.min.js'></script>
<link href='/ratchet-2.0.2/dist/css/ratchet.css', rel='stylesheet'>
</head>


<div class="tabbar tabbar--top tabbar--material">
  <label class="tabbar__item tabbar--material__item">
    <input type="radio" name="tabbar-material-a" checked="checked">
    <button class="tabbar__button tabbar--material__button">
      Music
    </button>
  </label>

  <label class="tabbar__item tabbar--material__item">
    <input type="radio" name="tabbar-material-a">
    <button class="tabbar__button tabbar--material__button">
      Movies
    </button>
  </label>

  <label class="tabbar__item tabbar--material__item">
    <input type="radio" name="tabbar-material-a">
    <button class="tabbar__button tabbar--material__button">
      Books
    </button>
  </label>

  <label class="tabbar__item tabbar--material__item">
    <input type="radio" name="tabbar-material-a">
    <button class="tabbar__button tabbar--material__button">
      Games
    </button>
  </label>



{% endblock %}
