
{% extends 'title.html' %}
{% block title %} 
<head>

<style>

body {margin-top:100px !important;


padding:300px,300px;

}
</style>

<link href='/ratchet-2.0.2/dist/css/ratchet.css', rel='stylesheet'>


<body>
<h3>quick loggin<h3>

  <h3> What should we call you<h3>
    <form method="POST" action=''>
      {{csrf_token}}
    {{form.username}}
<button type='submit' value='submit'>Submit</button>


<!-- list layout ratchet -->

<ul class="table-view">
  <li class="table-view-cell">
    <a class="navigate-right">
      <span class="badge">5</span>
      Item 1
    </a>
  </li>
  <li class="table-view-cell">
    <a class="navigate-right">
      <span class="badge">5</span>
      Item 2
    </a>
  </li>
  <li class="table-view-cell">
    <a class="navigate-right">
      <span class="badge">5</span>
      Item 3
    </a>
  </li>
</ul>




<!-- list layout  -->

</body>
<footer>
 </footer>
{% endblock %}