




<head>


 
<link href="/OnsenUI-dist-2.10.5/css/onsenui.css", rel='stylesheet'>
<link href='/OnsenUI-dist-2.10.5/css/onsen-css-components.min.css', rel='stylesheet'>
<script src='/OnsenUI-dist-2.10.5/js/onsenui.min.js'></script>

<center>

<div class="tabbar tabbar--top tabbar--top-border">
  <label class="tabbar__item tabbar--top-border__item">
    <input type="radio" name="top-tabbar-b" checked="checked">
 <form action='/registration'><button class="tabbar__button tabbar--top-border__button">
      Login
    </button></form>
  </label>

  <label class="tabbar__item tabbar--top-border__item">
    <input type="radio" name="top-tabbar-b" href='/registration'>
    <button class="tabbar__button tabbar--top-border__button" value='/registration'>
      Registration
    </button>
  </label>

  <label class="tabbar__item tabbar--top-border__item">
    <input type="radio" name="top-tabbar-b">
    <button class="tabbar__button tabbar--top-border__button">
      Quick User
    </button>
  </label>
</div>
</center>



 {% block title %}



 

  {% endblock %}



