

<head>
<!--  <script src='/ratchet-2.0.2/js/segmented-controllers.js'></script>-->

<link href='/ratchet-2.0.2/dist/css/ratchet.css', rel='stylesheet'>


<header class="bar bar-nav">
  <button class="btn pull-left" type='submit' value='/registration'>
        Left

  </button>

  <button class="btn pull-right" >
    Right
  </button>
  <div class="segmented-control">
    <a class="control-item" href='/'>Login</a>
    <a class="control-item" href='/registration'>Register</a>
    <a class="control-item" href='/quick_loggin'>Quicklogin</a>
  </div>
</header>
{% block title %}
{% endblock %}
{% block foot %}
{% endblock %}
<nav class="bar bar-tab">
  <a class="tab-item active" href="#">
    Label
  </a>
  <a class="tab-item" href="#">
    Label
  </a>
  <a class="tab-item" href="#">
    Label
  </a>
</nav>




