<!--
App ideas
1) music to go to sleep to. Might try and scrape audio. Look through opensource audio. Allow for local audio. Allow for bookmarking other audio.

2) diary widget as textbox. Suggest text to speech on android. Text screenshot of the mic.

3) different types of audio. Guided meditation. Different instruments. 

4)upload section. Set up website for uploading user generated audio. Look into building repository. 

5) voting system for user generated audio

6) alarm for creating a sleeping routine. Have meditation section.

7) find open source guide to meditation. 

8) look into profiles if online hub can be set up.

carve out basic application and add updates later on.



breakdown
diarty - audio/subdivided into types of audio - upload and or profile section with voting - ereader for literature related to meditation and audio - alarm widget for schedules.


soundcloud likely a really good option
-->
{% extends 'navbar.html' %}
{% block nav %}
<head>


<script src='bootstrap.min.js'></script>
<link href = "bootstrap.min.css" rel='stylesheet'>
<style>


button.player{

background: none;border: none;
height:200px;
width:200px;
}

div.aud{
display: flex;
align-items: center;
justify-content: center;
}

</style>
</head>


<script type="text/javascript">


var newlist = {{music_list|safe}}
var i=1;
var nextSong= "";
function setup() {
    document.getElementById('audio').addEventListener('ended', function(){
    	

        i++;
        nextSong = "new/{{item}}";
        audioPlayer = document.getElementById('audio');
        alert(newlist['i'])
        audioPlayer.src = '/new/' + newlist[i];
        audioPLayer.load();
        audioPlayer.play();

        if(i == i.length) // this is the end of the songs.
        {
            i = 1;
        }
        }, false);
}


</script>

<script>

function listSetup(songval) {

var bval = document.getElementById('togs');
var tmpAud = document.getElementById('audio');

alert('new/'+songval)
tmpAud.src = songval;
tmpAud.load();
tmpAud.play();


}

</script>

<body onLoad="setup();">

<div class='aud'>
<audio id="audio"  src="/new/check2.ogg" controls="controls" autoplay="autoplay"   align=""> </audio>
</div>


		{% for item in music_list %}
		
		<button class='player' id='{{item}}' value='new/{{item}}' onclick='listSetup(this.value)'>
			{{item}}
		{% endfor %}

</body>

<br>



<!--<iframe width="100%" height="166" scrolling="no" frameborder="no"
  src="https://w.soundcloud.com/player/?url=https://soundcloud.com/relaxdaily/relaxing-music-calm-studying-yoga&amp;{ ADD YOUR PARAMETERS HERE }">
</iframe>-->



<!--<div class="container">
  <h3>Popover Example</h3>
  <a href="#" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover">Toggle popover</a>
</div>

<div class="list-group">
  <a href="#" class="list-group-item active">
    Cras justo odio
  </a>
  <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
  <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
</div>-->
{%endblock%}



#https://soundcloud.com/search?q=calm